@import "Mollenhauer-null.scss";
// /* Null-Style */

html,
body {
    font-family: "Lato", sans-serif;
    height: 100%;
    width: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    min-height: 100%;
}

._countainer {
    display: flex;
    flex-direction: column;
    max-width: 1600px;
    padding: 0px 15px;
    box-sizing: content-box;
    margin: 0 auto;
}

////// HEADER ////////////////
.header {
    position: relative;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 50;
	background: none;
}

.header__countainer {
}

.header__body {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__logo {
	img {
		width: 263px;
		height: 46px;
	}
}

.header__navigation {
}

.header__list {
	display: flex;
	flex-wrap: wrap;
	gap: 32px;
}

.header__item {
}

.header__button-column {
}

.header__button {
}

.header__lang-column {
}

.header__lang {
}

.main {
}

.main__countainer {
}

.main__body {
}

.main__title {
}

.main__text {
}

.main__button-column {
}

.main__button {
}